@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(220, 235, 247);
    color: rgb(23, 51, 75);
    font-size: 11px;
    font-weight: 200;
    font-family: "Roboto", sans-serif;

 }
 .avatar{
    width:300px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgb(red, green, blue);

 }

a{
   color: rgb(0, 0, 0);
   text-decoration: none;
}

.contenier{
   max-width: 750px;
   margin:auto;
   padding-top: 45px;
}

.bg-yellow{
   background: rgb(169, 210, 205);
}

.bg-blue{
   background: rgb(182, 217, 236);
}

.bg-purple{
   background: rgb(200, 184, 229);
}
.card{
   padding: 10px 20px;
   margin-bottom: 20px;
   border-radius: 10px;
}
.card h2{
   margin-bottom: 10px;
}
.list li{
   color: rgb(29, 41, 51);
}
.table{
   width:100%;
}
.table td{
   padding-bottom: 10px;
}
.form-group label{
   display:block;
   font-size: 14px;
   color:rgb(0, 0, 0)
}
.form-group input,
.form-group textarea{
   width: 100%;
   box-sizing: border-box;
   border:none;
   background:transparent;
   border-bottom: 1px solid #ccc;
   color: rgb(0, 0, 0);
   padding: 15px 0 10px;
   outline: none;
   font-family: inherit;
}
.row{
   display: flex;
   margin-bottom: 20px;
}
.row > .form-group{
   width: 50%;
   margin-right: 20px;
}
.info{
   display: flex;
   margin-bottom: 10px;
}
.infotext{
   margin-left: 40px;
   @media(max-width:700px){
      .info{
         display:block;
      }
   }
}
.btn{
   margin-top: 10px;
   background: black;
   width: 15px 20px;
   padding: 15px 20px;
   color:#bdc6ff;
   cursor:pointer;
   font-family: inherit;
   border:none;
}
.btn:hover{
   opacity:0.9;
}